.border {
    transition: 0.05s ease;
  }
  
  .border:hover {
    background-color: #dddbda8c;
  }
  
  .padding_bottom {
    padding-bottom: 150px;
  }
  
  .slds-table_bordered tbody td {
    border-bottom: 1px solid #DDDBDA;
  }
  
  .dialog-classname {
    max-width: 50vw;
    white-space: break-spaces;
    line-height: 1.5;
  }

  .rbc-day-bg.rbc-today {
    border-bottom: 2.5px solid #293541;
    border-top: 2.5px solid #293541;
    border-left: 2.5px solid #293541;    
    border-right: 2.5px solid #293541;
    /* background: #b1e4f5 !important;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, rgb(80, 143, 226), rgb(108, 205, 238)) !important;  /* Chrome 10-25, Safari 5.1-6 
    background: linear-gradient(to right, rgb(77, 146, 236), rgb(102, 198, 230)) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
  }
