.border {
  transition: 0.05s ease;
}

.border:hover {
  background-color: #dddbda8c;
}

.padding_bottom {
  padding-bottom: 150px;
}

.slds-table_bordered tbody td {
  border-bottom: 1px solid #DDDBDA;
}

.dialog-classname {
  max-width: 50vw;
  white-space: break-spaces;
  line-height: 1.5;
}

.expandableRow {
  content: "";
  display: table;
  border: #1311108c;
}

.expandableColumn {
  float: left;
  width: 25%;
}
/* .slds-pill__remove {
  display: none !important;
} */

.bm-menu {
  background: #f5fafd;
  font-size: 0.9em;
  overflow: auto;
  height: 700px;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
  overflow: auto;
}
.bm-menu-wrap {
  position: relative;
  height: 700px !important;
  overflow: auto;
  padding-bottom: 30px;
}