@import "~@salesforce-ux/design-system/assets/styles/salesforce-lightning-design-system.css";

.season-background{
  background: #dcdcdc url('./images/background.png') no-repeat;
  background-size: contain;
  background-position: left 50px;
  background-attachment: fixed;
}

html{
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

}

@media print {
  @page {
    size: landscape;
  }
}

body {
  margin: 0;
  padding: 0;
  padding-top: 0px;
  width: 100%;
  height: 100%;
  
}

.hidden {
	display: none !important;
}

.invisible {
  opacity: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.opacity-6 {
  opacity: 0.6;
}

.margin-auto {
  margin: auto;
}

.no-margin-left {
  margin-left: 0 !important;
}

.pointer {
  cursor: pointer;
}

.bold{
  font-weight: bold !important;
}

.center {
  text-align: center !important;
}

.right {
  text-align: right !important;
}

.left {
  text-align: left !important;
}


/* login */
.slds-flex_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slds-img-width_15rem {
  width: 15rem
}

.slds-heigh_100vh {
  height: 100vh;
}

.slds-login-card-body {
  width: 20rem;
  height: 12rem;
}
/* login */

.slds_full-width{
  width: 100%;
  display: flex;
  justify-content: center;
}

.slds-form-element__create-row{
  display: block;
  width: 25rem;
}

.slds-form-element__create-row:last-child{
  margin-bottom: 5rem;
}
.background-white{
  background-color: #f6f6f6;
}

.slds-admin-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100vw; */
  box-sizing: border-box;
}